{% extends 'base.html.twig' %}

{% block title %}CrearGrueros{% endblock %}

{% block body %}
    <h1>Create new Grueros</h1>

    {{ include('grueros/_form.html.twig') }}

    <a href="{{ path('grueros_index') }}">back to list</a>
{% endblock %}
