{% extends 'base.html.twig' %}

{% block title %}Edit PersonaEmpleado{% endblock %}

{% block body %}
    <h1>Edit PersonaEmpleado</h1>

    {{ include('persona_empleado/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('persona_empleado_index') }}">back to list</a>
{% endblock %}
