<form method="post" action="{{ path('discusion_jefatura_delete', {'id': discusion_jefatura.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ discusion_jefatura.id) }}">
    <button class="btn">Delete</button>
</form>
