{% extends 'base.html.twig' %}

{% block title %}CrearDiscucionJefatura{% endblock %}

{% block body %}
    <h1>Create new DiscucionJefatura</h1>

    {{ include('discusion_jefatura/_form.html.twig') }}

    <a href="{{ path('discusion_jefatura_index') }}">back to list</a>
{% endblock %}
