<form method="post" action="{{ path('departamento_acuerdo_ejecucion_delete', {'id': departamento_acuerdo_ejecucion.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ departamento_acuerdo_ejecucion.id) }}">
    <button class="btn">Delete</button>
</form>
