<form method="post" action="{{ path('activo_delete', {'id': activo.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ activo.id) }}">
    <button class="btn">Delete</button>
</form>
