{% extends 'base.html.twig' %}

{% block title %}CrearActivo{% endblock %}

{% block body %}
    <h1>Create new Activo</h1>

    {{ include('activo/_form.html.twig') }}

    <a href="{{ path('activo_index') }}">back to list</a>
{% endblock %}
