{% extends 'base.html.twig' %}

{% block title %}CrearCompaniasGrua{% endblock %}

{% block body %}
    <h1>Create new CompaniasGrua</h1>

    {{ include('companias_grua/_form.html.twig') }}

    <a href="{{ path('companias_grua_index') }}">back to list</a>
{% endblock %}
