{% extends 'base.html.twig' %}

{% block title %}Edit CtlTipoArchivo{% endblock %}

{% block body %}
    <h1>Edit CtlTipoArchivo</h1>

    {{ include('ctl_tipo_archivo/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ctl_tipo_archivo_index') }}">back to list</a>

    {{ include('ctl_tipo_archivo/_delete_form.html.twig') }}
{% endblock %}
