{% extends 'base.html.twig' %}

{% block title %}CrearCtlTipoArchivo{% endblock %}

{% block body %}
    <h1>Create new CtlTipoArchivo</h1>

    {{ include('ctl_tipo_archivo/_form.html.twig') }}

    <a href="{{ path('ctl_tipo_archivo_index') }}">back to list</a>
{% endblock %}
