
    <div class="row align-items-center justify-content-between pt-3">
        <div class="col-auto mb-3">
            <h1 class="page-header-title">
                <div class="page-header-icon">
                </div>
                {% block title %}   {% endblock title %}                                          
            </h1>
        </div>
    </div>

    {% block body %}    {% endblock %}

    {% block js_pantalla %}    {% endblock %}